.example-spacer {
  flex: 1 1 auto;
}

.user-login {
  float: left;
}

.login {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .card {
    font-size: 11px;
  }

  .time {
    font-size: 6px;
  }
}
