<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/manageUsers']">Manage Users</button>
    <button mat-menu-item [routerLink]="['/manageGender']">
      Manage Gender
    </button>
    <button mat-menu-item [routerLink]="['/manageStatus']">
      Manage Status
    </button>
  </mat-menu>

  <span> <a [routerLink]="['/tasks']">Task Management</a> </span>

  <span class="example-spacer"></span>
  <button
    *ngIf="loggedin()"
    class="new-task"
    mat-raised-button
    color="primary"
    (click)="openDialog()"
  >
    Create Task
  </button>
  <div class="user-login">
    <button
      *ngIf="loggedin()"
      mat-icon-button
      class="example-icon login"
      aria-label="Example icon-button with share icon"
      (click)="onLogout()"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
