
table {
  width: 100%;
}

.add {
  margin-top: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
  width: 25%;
} */


.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}
